@page "/LogEntriesTable"

<PageTitle>Log entries</PageTitle>

@using BlazorLogViewer.Data
@using LogData
@inject LogEntryService LogEntryService

<div>
	<DataTable @ref="Table" T="LogEntry" SortProperty="TimeStamp" SortDirection="SortDirection.Descending" GetData="GetData" GetPropertyValue="GetPropertyValue" DataFilterOperatorChanged=" DataFilterOperatorChanged" DataFilterValueChanged="DataFilterValueChanged" Height="calc(100vh - 120px)" />
</div>

@if(Exception != null)
{
	<br />
	<div class="alert alert-danger" role="alert">
		<b>BOOM!</b>
		<br>@Exception.Message
	</div>
}