@inherits ComponentBase
@typeparam T

<nobr>
	<select class="no-arrow" @bind="Operator" @attributes=@InputAttributes>
	@foreach(FilterOperators currentOperator in Operators)
	{
		<option value="@currentOperator">@currentOperator.StringFormat()</option>
	}
</select>
	@* The input box will have the " invalid" class applied if the filter string isn't empty or valid. *@
	<input class="column-filter@((FilterEmpty || FilterValid) ? "" : " invalid")" type="text" @bind="FilterString" />
</nobr>