div.data-filter {
}

/* Override browser's default color */
div.data-filter > nobr > select {
	background-color: transparent;
	min-width: 2em;
}

::deep select.no-arrow {
	appearance: none;
}

::deep .column-filter {
	border-bottom-width: 1px;
	border-color: #DADADA;
	min-width: 5em;
	width: calc(100% - 26px);
}

