@if(Shown)
{
<div class="cookie-consent">
	<div class="mt-2 d-flex align-items-center justify-content-center g-2" role="alert">
		The developer of this site consumes cookies.

		<button class="allow-button mr-1" @onclick="ConsentClicked">Me too</button>
	</div>
</div>
}