@page "/"
@namespace BlazorLogViewer.Server.Pages

<PageTitle>Index</PageTitle>

<h3>
	<AuthorizeView>
		Hello, @context.User.Identity?.Name.
		<br />
	</AuthorizeView>
	Select the data to view, in the left pane.
</h3>

<p>
	<i>Please note that this site may log any searches being performed.</i>
</p>

<CookieWarning/>