@page "/MyDataTypeTable"

<PageTitle>My data type</PageTitle>

@using FilterTableExample.Data
@inject MyDataTypeService MyDataTypeService

<div>
	<DataTable @ref="Table" T="MyDataType" GetData="GetData" DataFilterOperatorChanged="DataFilterOperatorChanged" DataFilterValueChanged="DataFilterValueChanged" Height="calc(100vh - 120px)" />
</div>

@if(Exception != null)
{
	<br />
	<div class="alert alert-danger" role="alert">
		<b>BOOM!</b>
		<br>@Exception.Message
	</div>
}